
.login{
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .lgbg{
    width: 1066px;
    height: 720px;
    .part{
      width: 364px;
      height: 720px;
      background-color: #fff;
      padding: 140px 20px 0;
      // 本来白块在左边，加了margin-left: auto;就显示在了右边
      margin-left: auto;
      .title{
        margin-bottom: 50px;
        .logo{
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            width: 100px;
          }
        }
        h1{
          text-align: center;
          color:#027cc5;
          margin-top: 40px;
        }
      }
    }
  }
}