.navLeft{
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    img{
      width: 30px;
    }
    h1{
      color: white;
      font-size: 20px;
      width: 120px;
      margin-left: 10px;
    }
  }
  
}